.Section {
    padding: 200px 100px 380px 100px;
    position: relative;

    .Content {
        max-width: 1200px;
        margin: 0 auto;

        & > p {
            max-width: 500px;
        }
    }

    &:after {
        position: absolute;
        width: 50%;
        height: 180px;
        bottom: 0;
        left: 0;
        content: '';
    }

    &:before {
        position: absolute;
        width: 50%;
        height: 180px;
        bottom: 0;
        left: 50%;
        content: '';
    }

    @media (max-width: 800px) {
        &:after, &:before {
            height: 120px;
        }
    }

    @media (max-width: 500px) {
        padding: 100px 25px 180px 25px;

        &:after, &:before {
            height: 60px;
        }
    }
}

.BlackSection {
    @extend .Section;
    color: white;

    &:after {
        background-image: linear-gradient(to right top, white 0%, white 50%, transparent 50%);
    }

    &:before {
        background-image: linear-gradient(to left top, white 0%, white 50%, transparent 50%);
    }

    background-color: #161618;
}

.WhiteSection {
    @extend .Section;
    color: #161618;

    &:after {
        background-image: linear-gradient(to right top, #161618 0%, #161618 50%, transparent 50%);
    }

    &:before {
        background-image: linear-gradient(to left top, #161618 0%, #161618 50%, transparent 50%);
    }

    background-color: white;
}

.Bottom {
    @extend .Section;
    padding: 40px;
    height: 400px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &:after, &:before {
        display: none;
    }
}