@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

body {
    font-family: Inter, Helvetica, sans-serif;
    font-style: normal;
    background-color: #161618;
}
